<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <title>GEAS -- Global Easy and Safety</title>

    <link rel="shortcut icon" type="image/ico" href="{{ '/assets/img/favicon.ico' | relative_url }}">
    <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/reset.css' | relative_url }}"> <!-- CSS reset -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/animated-logo.min.css' | relative_url }}"><!-- Logo -->
    <link rel="stylesheet" href="{{ '/assets/css/our-team.css' | relative_url }}"> <!-- Resource style -->

    <!-- Custom Fonts -->
    <link href="{{ '/assets/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet" type="text/css">

    <!--
     style="" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage
     no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize
     borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections
     csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage
     webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en"
    -->
    <!-- Js -->
    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script> <!-- Modernizr -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!-- <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>-->
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top" style="padding:0;height: 60px;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;-webkit-justify-content: center;justify-content: center;">
                <img src="{{ '/assets/img/logo.png' | relative_url }}" style="max-height: 60px;">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class=""><a class="page-scroll" href="#page-top">Home</a></li>
                <li class=""><a class="page-scroll" href="#payments">Payments</a></li>
                <li class=""><a class="page-scroll" href="#services">Services</a></li>
                <li class=""><a class="page-scroll" href="#solutions">Solutions</a></li>
                <li class=""><a class="page-scroll" href="#aboutus">About Us</a></li>
            </ul>
        </div>
    </div>
</nav>
<header id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="o-container">
                </div>
                <div class="intro-text">
                    <div class="intro-lead-in"></div>
                    <div class="intro-heading"></div>
                </div>
                <div id="particles-js"></div>

            </div>
        </div>
    </div>
</header>
<!-- ////////////Content Box 01 payments -->
<section id="payments" class="">
    <img src="{{ '/assets/img/linshi/payments.jpg' | relative_url }}">
</section>
<!-- ////////////Content Box 02 products -->
<section id="services">
    <img src="i{{ '/assets/img/linshi/products_1.jpg' | relative_url }}">
</section>
<section>
    <img src="{{ '/assets/img/linshi/products_2.jpg' | relative_url }}">
</section>

<!-- ////////////Content Box 01 payments -->
<section id="safety" class="">
    <img src="{{ '/assets/img/linshi/safety.jpg' | relative_url }}">
</section>

<section id="solutions" class="">
    <img src="{{ '/assets/img/linshi/solutions.jpg' | relative_url }}">
</section>
<!-- ////////////Content Box 01 payments -->
<section id="aboutus" class="">
    <img src="{{ '/assets/img/linshi/about_us.jpg' | relative_url }}">
</section>
<!-- ////////////Content Box 01 payments -->
<section id="partner" class="">
    <img src="{{ '/assets/img/linshi/partner.jpg' | relative_url }}">
</section>
<!-- ////////////Content Box 01 payments -->
<section id="contact" class="">
    <img src="{{ '/assets/img/linshi/contact.jpg' | relative_url }}">
</section>
<!-- jQuery -->
<script src="{{ '/assets/js/jquery-2.1.1.js' | relative_url }}"></script>
<script src="{{ '/assets/js/masonry.pkgd.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.flexslider-min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script> <!-- Resource jQuery -->

<!-- Bootstrap Core JavaScript -->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ '/assets/js/agency.js' | relative_url }}"></script>

<!-- Animated Top -->
<script src="{{ '/assets/js/jquery.easing.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/classie.js' | relative_url }}"></script>
<script src="{{ '/assets/js/cbpAnimatedHeader.js' | relative_url }}"></script>
<script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>


</body></html>